utils/modules/sines_2/schema_interop.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="aa_xml_feed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="meta">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="url"/>
              <xs:element type="xs:string" name="timestamp"/>
              <xs:element type="xs:string" name="license"/>
              <xs:element name="params">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="param" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="id" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="content">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="count"/>
              <xs:element name="organismo" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element type="xs:byte" name="soggetto_controllato"/>
                    <xs:element type="xs:byte" name="indiretta"/>
                    <xs:element type="xs:byte" name="mercati_regolamentati"/>
                    <xs:element name="partecipazione">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="diretta"/>
                          <xs:element type="xs:string" name="indiretta"/>
                        </xs:sequence>
                        <xs:attribute type="xs:float" name="tot_percent" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="denominazione"/>
                    <xs:element name="tipologia">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="id_tipo_partecipo" use="optional"/>
                            <xs:attribute type="xs:byte" name="id_tipo" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="cf"/>
                    <xs:element type="xs:string" name="sede"/>
                    <xs:element type="xs:string" name="pec"/>
                    <xs:element type="xs:string" name="web"/>
                    <xs:element type="xs:string" name="data_inizio"/>
                    <xs:element type="xs:string" name="data_fine"/>
                    <xs:element name="stato_organismo">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:short" name="id_tipo" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="funzioni"/>
                    <xs:element type="xs:string" name="note"/>
                    <xs:element name="dati_contabili">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="dato_contabile" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="oneri"/>
                                <xs:element type="xs:string" name="spesa_lavoro_flessibile"/>
                                <xs:element type="xs:string" name="spesa_incarichi"/>
                                <xs:element type="xs:short" name="dotazione_organica"/>
                                <xs:element type="xs:string" name="dipendenti"/>
                                <xs:element type="xs:string" name="spesa_dotazione_organica"/>
                                <xs:element type="xs:string" name="note"/>
                                <xs:element name="bilanci">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="bilancio" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="tipo">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:byte" name="id_tipo" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element type="xs:string" name="risultati"/>
                                            <xs:element type="xs:string" name="note"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:short" name="anno" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="nomine">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="nomina" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="nome"/>
                                <xs:element type="xs:string" name="cognome"/>
                                <xs:element name="incarico">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:int" name="id_tipo" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:date" name="data_inizio"/>
                                <xs:element type="xs:string" name="data_fine"/>
                                <xs:element type="xs:byte" name="data_fine_presunta"/>
                                <xs:element type="xs:string" name="emolumenti_totali"/>
                                <xs:element type="xs:string" name="note"/>
                                <xs:element name="compensi">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="compenso" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:short" name="anno"/>
                                            <xs:element type="xs:string" name="parte_fissa"/>
                                            <xs:element type="xs:string" name="parte_variabile"/>
                                            <xs:element type="xs:string" name="rimborsi"/>
                                            <xs:element type="xs:string" name="note"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="nomina_ras" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="organigrammi">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="organigramma" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:short" name="id" use="optional"/>
                                  <xs:attribute type="xs:string" name="tipo" use="optional"/>
                                  <xs:attribute type="xs:byte" name="componentiTot" use="optional"/>
                                  <xs:attribute type="xs:byte" name="componentiRas" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute type="xs:short" name="id" use="optional"/>
                  <xs:attribute type="xs:string" name="aggiornamento" use="optional"/>
                  <xs:attribute name="stato">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="bozza"/>
                        <xs:enumeration value="pubblicato"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stato">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/> 
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>